body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.text-muted {
  color: #7d97ad;
}

.text-thin {
  font-weight: 100;
}

.title-super {
  font-size: 40px;
}

.title-logo {
  margin-top: 20px;
}

hr {
  background-color: #7d97ad;
  height: 4px;
  border: 0;
}

.master-img {
  width: 100%;
}

p {
  margin: auto;
  font-size: 20px;
  text-align: justify;
}

img {
  margin: auto;
}
